<h1>Phonebook Component template</h1>

<form>
  <label for="name">Name: </label>
  <input [(ngModel)]="name" type="text" id="name" name="name" />

  <label for="phone">Phone: </label>
  <input [(ngModel)]="phone" type="text" id="text" name="phone" />

  <input
    type="submit"
    value="{{ editMode ? 'Edit' : 'Add' }} Contact"
    (click)="editMode ? onAddOrEdit(true) : onAddOrEdit(false)"
  />
</form>

<table *ngIf="phonebookService.contacts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of phonebookService.contacts">
      <td>{{ contact.name }}</td>
      <td>{{ contact.phone }}</td>
      <td>
        <button (click)="phonebookService.deleteContact(contact.id)">
          Delete
        </button>
        <button (click)="edit(contact.id)">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
